.hand-appear, .hand-enter {
  transform: translate(500%);
}
.hand-appear-active, .hand-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.card-viewer-fade-enter {
  opacity: 0;
}
.card-viewer-fade-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.card-viewer-fade-exit {
  opacity: 1;
}
.card-viewer-fade-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.hex-piece-enter {
  opacity: 0;
}
.hex-piece-enter-active {
  opacity: 1;
}

.hex-piece-exit {
  opacity: 1;
}
.hex-piece-exit-active {
  opacity: 0;
}

.event-animation-appear, .event-animation-appear {
  transform: translateY(500%);
}
.event-animation-enter-active, .event-animation-appear-active {
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
}

.event-animation-leave {
  opacity: 1;
}
.event-animation-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
