.hand-enter {
  transform: translate(500%);
}
.hand-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.chat-message-appear {
  background-color: #ffe366;
}
.chat-message-appear-active {
  background-color: transparent;
  transition: background-color 500ms ease-in-out;
}

.hex-piece-enter {
  opacity: 0;
}
.hex-piece-enter-active {
  opacity: 1;
}
.hex-piece-exit {
  opacity: 1;
}
.hex-piece-exit-active {
  opacity: 0;
}

.event-animation-orange-appear {
  transform: translateY(500%);
}
.event-animation-blue-appear {
  transform: translateY(-500%);
}
.event-animation-orange-appear-active, .event-animation-blue-appear-active {
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
}
