@font-face {
  font-family: 'Space Age';
  src: url("../fonts/space age.ttf") format("truetype");
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  height: 100%;
  background-color: #EEE;
}

a {
  text-decoration: none;
}

a.underline {
  color: inherit;
  cursor: pointer;
  text-decoration: underline !important;
}

a.underline:hover {
  text-decoration: none !important;
}

thead {
  background-color: #f44336 !important;
}

th {
  font-weight: bold !important;
  color: white !important;
  font-size: 1em !important;
}

.wordbotsAppBarLink {
  color: white;
}

.wordbotsAppBarLink:hover {
  color: #eee;
  -webkit-text-stroke: 0.5px #666;
}

.markdownBlock img {
  display: block;
  width: 300px;
  margin: 0 auto 0.5em;
}

.markdownBlock h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

.markdownBlock h2, .helpPage h2 {
  font-size: 24px;
  font-weight: 100;
}

.helpPage h1, .helpPage h2 {
  font-family: 'Carter One';
}

.helpPage #parser-help .markdownBlock h2 {
  font-size: 19px;
}

.markdownBlock h3 {
  font-size: 1em;
  font-weight: bold;
}

.markdownBlock a:hover {
  text-decoration: underline;
}

.markdownBlock code {
  font-size: 1.2em;
}

.helpPage li {
  margin-left: -5px;
}

.helpPage li + li {
  margin-top: 7px;
}

.notAllowed button {
  cursor: not-allowed !important;
}

a.topLink {
  color: #fff;
  transition: color 300ms ease-in-out;
}

a.topLink:hover {
  color: #eee;
}

.slick-slider div:focus {
  outline: none;
}

.recentCardsCarousel .slick-track {
  height: 300px;
}

.profile-link {
  color: inherit;
  transition: color 300ms ease-in-out;
}

.profile-link:hover {
  color: #333;
  text-decoration: underline;
}

/* Custom tooltip styling */

.Popover-tipShape {
  fill: white;
}

.help-tooltip {
  font-weight: normal;
  max-width: 180px;
}

.formats-tooltip {
  max-width: 330px;
}

/* moz Sprite Fix */

.wb-sprite {
  image-rendering: -moz-crisp-edges;
}

/* Hand hover animation */

#handTop:hover {
  top: 0 !important;
  transition: top 300ms ease-in-out;
}

#handBottom:hover {
  bottom: 0 !important;
  transition: bottom 300ms ease-in-out;
}

#handTop {
  z-index: 1000;
  top: -150px;
  transition: top 300ms ease-in-out;
}

#handBottom {
  z-index: 1000;
  bottom: -150px;
  transition: bottom 300ms ease-in-out;
}

/* Energy curve */

.bar {
  fill: #64B5F6;
}

.bar:hover {
  fill: #90CAF9;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis line {
  display: none;
}

.x.axis path {
  display: none;
}

.y.axis {
  display: none;
}

/* Misc */

.end-turn-button:enabled:hover, .forfeit-button:enabled:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.end-turn-button.orange:enabled:hover {
  background-color: #d99237 !important;
}

.end-turn-button.blue:enabled:hover {
  background-color: #94b5d9 !important;
}

.end-turn-button.waiting {
  opacity: 0.7;
}

.forfeit-button:enabled:hover {
  background-color: #333 !important;
}

.volume-slider {
  transition: visibility 100ms ease-in-out, opacity 100ms ease-in-out;
}

/* based on https://leaverou.github.io/bubbly/ */
.speech-bubble {
  position: relative;
  background: white;
  border-radius: .4em;
  padding: 5px;
  top: -10px;
  left: -55px;
  border: 1px solid rgb(244, 67, 54);
  filter: drop-shadow(-0.5px 2px 1.5px rgba(244, 67, 54, 0.2));
}
.speech-bubble:hover {
  filter: drop-shadow(-0.5px 2px 1.5px rgba(244, 67, 54, 0.8))
}
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 70%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-right: 0;
  margin-left: -4px;
  margin-bottom: -12px;
  filter: drop-shadow(1px 2px 0px rgb(244, 67, 54));
}

.card-creator-text-field label {
  color: rgb(0, 120, 135) !important;
}

.card-creator-text-field fieldset {
  border-color: rgb(0, 120, 135) !important;
}

.card-creator-text-field.error fieldset {
  border-color: rgb(244, 67, 54) !important;
}

/* Media queries */

@media only screen and (max-width: 1400px) {
  .button-in-row .material-icons {
    display: none !important;
  }
}

@media only screen and (max-width: 1300px) {
  .workshop-arrow .material-icons {
    font-size: 75px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .workshop-arrow .material-icons {
    font-size: 50px !important;
  }
}

@media only screen and (min-width: 1200px) {
  #homePageSplash > :first-child {
    position: relative;
    left: -200px;
  }

  #homePageSplash > :last-child {
    position: relative;
    left: 200px;
  }
}