html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  height: 100%;
  background-color: #EEE;
}

a {
  text-decoration: none;
}

thead {
  background-color: #f44336 !important;
}

th {
  font-weight: bold !important;
  color: white !important;
  font-size: 1em !important;
}

.activeNavLink > div > span {
  background-color: #d8d8d8 !important;
}

.markdownBlock img {
  display: block;
  width: 300px;
  margin: 0 auto 0.5em;
}

.markdownBlock h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

.markdownBlock h2 {
  font-size: 24px;
  font-weight: 100;
}

.markdownBlock h3 {
  font-size: 1em;
  font-weight: bold;
}

.markdownBlock a:hover {
  text-decoration: underline;
}

.notAllowed button {
  cursor: not-allowed !important;
}

/* moz Sprite Fix */

.wb-sprite {
  image-rendering: -moz-crisp-edges;
}

/* Hand hover animation */

#handTop:hover {
  top: -80px !important;
  transition: top 300ms ease-in-out;
}

#handBottom:hover {
  bottom: 0 !important;
  transition: bottom 300ms ease-in-out;
}

#handTop {
  z-index: 1000;
  top: -150px;
  transition: top 300ms ease-in-out;
}

#handBottom {
  z-index: 1000;
  bottom: -150px;
  transition: bottom 300ms ease-in-out;
}

/* Energy curve */

.bar {
  fill: #64B5F6;
}

.bar:hover {
  fill: #90CAF9;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis line {
  display: none;
}

.x.axis path {
  display: none;
}

.y.axis {
  display: none;
}

/* Scroll Bar Style */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #f44336;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
