html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
  height: 100%;
  background-color: #EEE;
}

a {
  text-decoration: none;
}

svg {
  margin: 0 auto;
  display: block;
  filter: drop-shadow(3px 3px 5px #DDD);
  -webkit-filter: drop-shadow(3px 3px 5px #DDD);
}

svg g {
  fill: #FFF;
  fill-opacity: 1;
}

svg g:hover {
  fill: #EEE;
}

svg g polygon {
  stroke: #CCC;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}

svg g text {
  font-size: 0.1em;
  fill: #222;
  fill-opacity: 0.4;
  transition: fill-opacity .2s;
}

svg path {
  fill: none;
  stroke: hsl(60, 20%, 70%);
  stroke-width: 0.4em;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* React Hint */

.react-hint {
  padding: 5px;
  position: absolute;
  z-index: 9999;
  cursor: default;
  -webkit-animation: .2s fade;
  animation: .2s fade;
}

.react-hint__content {
  padding: 5px;
  border-radius: 5px;
  background: #444;
  color: #fff;
}

.react-hint:after {
  content: '';
  width: 0;
  height: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
}

.react-hint--top:after {
  top: auto;
  border-bottom: none;
  border-top-color: #444;
}

.react-hint--left:after {
  left: auto;
  border-right: none;
  border-left-color: #444;
}

.react-hint--right:after {
  right: auto;
  border-left: none;
  border-right-color: #444;
}

.react-hint--bottom:after {
  bottom: auto;
  border-top: none;
  border-bottom-color: #444;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Slide In Animation */

.hand-enter {
  transform: translate(500%);
}

.hand-enter.hand-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

/*
.example-leave {
  transform: translate(-500%);
  opacity: 0;
}

.example-leave.example-leave-active {
  transform: translate(0%);
  opacity: 1;
  transition: transform 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
*/

.card-viewer-fade-enter {
  opacity: 0;
}

.card-viewer-fade-enter.card-viewer-fade-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.card-viewer-fade-leave {
  opacity: 1;
}

.card-viewer-fade-leave.card-viewer-fade-leave-active {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}